body{
    margin: 50px 50px 0px 50px;
}
#menu ul{
    list-style-type:  none;
    padding: 0;
}
#menu li{
    float: left;
    background-color: rgb(5, 5, 167);
    border-right: 1px solid grey;
    padding: 15px;
}
#menu li a{
    text-decoration: none;
    color: aliceblue;
}

#menu li:hover{
    background-color: rgb(196, 3, 3);
}